<template>
  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    <header class="header-bar d-flex d-lg-block align-items-center" data-aos="fade-left">
      <div class="site-logo">
        <a href="index.html">GALERY PHOTO</a>
        <br>
        <a href="index.html">WAHYU & SOFYAH</a>
      </div>

      <div class="d-inline-block d-xl-none ml-md-0 ml-auto py-3" style="position: relative; top: 3px;"><a href="#"
          class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

      <div class="main-menu">
        <ul class="js-clone-nav">
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="photos.html">Photos</a></li>
          <li><a href="bio.html">Bio</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
        <ul class="social js-clone-nav">
          <li><a href="#"><span class="icon-facebook"></span></a></li>
          <li><a href="#"><span class="icon-twitter"></span></a></li>
          <li><a href="#"><span class="icon-instagram"></span></a></li>
        </ul>
      </div>
    </header>
    <main class="main-content">
      <div class="container-fluid photos">
        <div class="row align-items-stretch">

          <div class="col-6 col-md-6 col-lg-8" data-aos="fade-up">
            <a href="single.html" class="d-block photo-item">
              <img src="../../public/assets/images/img_13.jpg" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <div class="photo-text-more">
                  <h3 class="heading">Photos Title Here</h3>
                  <span class="meta">42 Photos</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <a href="single.html" class="d-block photo-item">
              <img src="../../public/assets/images/img_14.jpg" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <div class="photo-text-more">
                  <h3 class="heading">Photos Title Here</h3>
                  <span class="meta">42 Photos</span>
                </div>
              </div>
            </a>
          </div>

          <div class="col-6 col-md-6 col-lg-8" data-aos="fade-up">
            <a href="single.html" class="d-block photo-item">
              <img src="../../public/assets/images/img_4.jpeg" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <div class="photo-text-more">
                  <h3 class="heading">Photos Title Here</h3>
                  <span class="meta">42 Photos</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <a href="single.html" class="d-block photo-item">
              <img src="../../public/assets/images/img_5.jpeg" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <div class="photo-text-more">
                  <h3 class="heading">Photos Title Here</h3>
                  <span class="meta">42 Photos</span>
                </div>
              </div>
            </a>
          </div>

          <div class="col-6 col-md-6 col-lg-3" data-aos="fade-up">
            <a href="single.html" class="d-block photo-item">
              <img src="../../public/assets/images/img_1.jpeg" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <h3 class="heading">Photos Title Here</h3>
                <span class="meta">42 Photos</span>
              </div>
            </a>
          </div>
          <div class="col-6 col-md-6 col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <a href="single.html" class="d-block photo-item">
              <img src="../../public/assets/images/img_2.jpeg" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <div class="photo-text-more">
                  <h3 class="heading">Photos Title Here</h3>
                  <span class="meta">42 Photos</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
            <a href="single.html" class="d-block photo-item">
              <img src="../../public/assets/images/img_3.jpeg" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <div class="photo-text-more">
                  <h3 class="heading">Photos Title Here</h3>
                  <span class="meta">42 Photos</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-6 col-md-6 col-lg-6" data-aos="fade-up" data-aos-delay="">
            <a href="single.html" class="d-block photo-item">
              <img src="../../public/assets/images/img_6.jpeg" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <div class="photo-text-more">
                  <h3 class="heading">Photos Title Here</h3>
                  <span class="meta">42 Photos</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-6 col-md-6 col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <a href="single.html" class="d-block photo-item">
              <img src="../../public/assets/images/img_7.jpeg" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <div class="photo-text-more">
                  <h3 class="heading">Photos Title Here</h3>
                  <span class="meta">42 Photos</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="">
            <a href="single.html" class="d-block photo-item">
              <img src="../../public/assets/images/img_1.jpeg" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <div class="photo-text-more">
                  <h3 class="heading">Photos Title Here</h3>
                  <span class="meta">42 Photos</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <a href="single.html" class="d-block photo-item">
              <img src="../../public/assets/images/img_2.jpeg" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <div class="photo-text-more">
                  <h3 class="heading">Photos Title Here</h3>
                  <span class="meta">42 Photos</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <a href="single.html" class="d-block photo-item">
              <img src="../../public/assets/images/img_3.jpeg" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <div class="photo-text-more">
                  <h3 class="heading">Photos Title Here</h3>
                  <span class="meta">42 Photos</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="">
            <a href="single.html" class="d-block photo-item">
              <img src="../../public/assets/images/img_1.jpeg" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <div class="photo-text-more">
                  <h3 class="heading">Photos Title Here</h3>
                  <span class="meta">42 Photos</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-6 col-md-6 col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <a href="single.html" class="d-block photo-item">
              <img src="../../public/assets/images/img_2.jpeg" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <div class="photo-text-more">
                  <h3 class="heading">Photos Title Here</h3>
                  <span class="meta">42 Photos</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="200">
            <a href="single.html" class="d-block photo-item">
              <img src="../../public/assets/images/img_3.jpeg" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <div class="photo-text-more">
                  <h3 class="heading">Photos Title Here</h3>
                  <span class="meta">42 Photos</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-6 col-md-6 col-lg-8" data-aos="fade-up" data-aos-delay="">
            <a href="single.html" class="d-block photo-item">
              <img src="../../public/assets/images/img_4.jpeg" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <div class="photo-text-more">
                  <h3 class="heading">Photos Title Here</h3>
                  <span class="meta">42 Photos</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <a href="single.html" class="d-block photo-item">
              <img src="../../public/assets/images/img_5.jpeg" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <div class="photo-text-more">
                  <h3 class="heading">Photos Title Here</h3>
                  <span class="meta">42 Photos</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-6 col-md-6 col-lg-6" data-aos="fade-up" data-aos-delay="">
            <a href="single.html" class="d-block photo-item">
              <img src="../../public/assets/images/img_6.jpeg" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <div class="photo-text-more">
                  <h3 class="heading">Photos Title Here</h3>
                  <span class="meta">42 Photos</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-6 col-md-6 col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <a href="single.html" class="d-block photo-item">
              <img src="../../public/assets/images/img_7.jpeg" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <div class="photo-text-more">
                  <h3 class="heading">Photos Title Here</h3>
                  <span class="meta">42 Photos</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="">
            <a href="single.html" class="d-block photo-item">
              <img src="../../public/assets/images/img_1.jpeg" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <div class="photo-text-more">
                  <h3 class="heading">Photos Title Here</h3>
                  <span class="meta">42 Photos</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-6 col-md-6 col-lg-8" data-aos="fade-up" data-aos-delay="100">
            <a href="single.html" class="d-block photo-item">
              <img src="../../public/assets/images/img_2.jpeg" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <div class="photo-text-more">
                  <h3 class="heading">Photos Title Here</h3>
                  <span class="meta">42 Photos</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-12 text-center py-5">
            <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;<script type="application/javascript">
                document.write(new Date().getFullYear());
              </script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i>
              by <a href="linkedin.com/in/wahyu-fatur-rizky/" target="_blank">WAHYU FATUR RIZKI</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
        </div>
      </div>
    </main>
  </div> <!-- .site-wrap -->
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'

@Component
export default class HelloWorld extends Vue {
  @Prop() private msg!: string;
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
